	<!-- Items -->
	<section class="main items">
		<article class="item">
			<header>
				<a href="#" onclick="setRebounceMenu(); "style="background-image: url('images/rebounce.png');"></a>
				<h3>ReBounce</h3>
			</header>
			<p>Skacz jak najdłużej!</p>
			<ul class="actions">
				<li><a  onclick="setRebounceMenu();" class="button">Zobacz</a></li>
			</ul>
		</article>
		<article class="item">
			<header>
				<a href="#" onclick="setSpaceshiftMenu();" style="background-image: url('images/SpaceShift.png');"></a>
				<h3>SpaceShift</h3>
			</header>
			<p>Przemierzaj odległe galaktyki!</p>
			<ul class="actions">
				<li><a onclick="setSpaceshiftMenu();" class="button">Zobacz</a></li>
			</ul>
		</article>
		<article class="item">
			<header>
				<a href="#" onclick="setKomuwinienMenu();" style="background-image: url('images/komuwinien.png');"></a>
				<h3>Komu Winien?</h3>
			</header>
			<p>Komu jestem winien, a kto mi?</p>
			<ul class="actions">
				<li><a onclick="setKomuwinienMenu();" class="button">Zobacz</a></li>
			</ul>
		</article>
		<article class="item">
			<header>
				<a href="#" onclick="setUczenieMenu();" style="background-image: url('images/uczenie.png');"></a>
				<h3>Uczenie parkowania</h3>
			</header>
			<p>Nauka parkowania na bazie 2 algorytmów </p>
			<ul class="actions">
				<li><a onclick="setUczenieMenu();" class="button">Zobacz</a></li>
			</ul>
		</article>
		<article class="item">
			<header>
				<a href="#" onclick="setInneMenu();" style="background-image: url('images/banner-new2.jpg');"></a>
				<h3>Inne Projekty</h3>
			</header>
			<p>Inne projekty </p>
			<ul class="actions">
				<li><a onclick="setInneMenu();" class="button">Zobacz</a></li>
			</ul>
		</article>

	</section>