<!-- CTA -->
<section id="cta" class="main special">

	<h3>
		<p>Jest to zbiór innych pomniejszych projektów.
		</p>
	</h3>

</section>


<br>
<ul>
	<li>
		<h5>Strona stworzona na bazie tutoriala, przy użyciu biblioteki React.js, korzystająca z API (oraz JSON) do
			pobrania listy </h2>			<h4><a href="https://matemich.github.io/robofriends" class="link" >Robofriends</a></h4>
	</li>
</ul>